{% for product in products %}
    </br>
    <tr> 
        id: <td> {{ product.id }}</td>
        name: <td>{{product.name}}</td>
        price:  <td>{{product.price}}</td>
        <td><a href="{{ path('update',{'id':product.id}) }}"> update</a> </td>
    </tr>
    </br>
{% endfor %} 